
<div class="container">
    <p>
        <a routerLink="/admin/products/new" class="btn btn-primary">Nuevo producto</a>
      </p>
      <p>
        <input 
          #query
          (keyup)="filter(query.value)"
          type="text" class="form-control" placeholder="Search...">
      </p>
      
      <data-table
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)">
        <data-table-column
          [property]="'title'"  
          [header]="'Producto'"
          [sortable]="true"
          [resizable]="true"
        >
        </data-table-column>
        
        <data-table-column
          [property]="'price'"  
          [header]="'Precio'"
          [sortable]="true"
          [resizable]="true"
        >
          <ng-template #dataTableCell let-item="item">
            {{ item.price | currency:'COP':true }}
          </ng-template>
        </data-table-column>
      
        <data-table-column
          [property]="'$key'"  
        >
          <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/admin/products/', item.$key]">Editar</a>
          </ng-template>
        </data-table-column>
      
      </data-table>      
</div>
